<section class="oauth-container">

  <div class="form-container">
    <p class="oauth-form-brand">{{'oauth.form_brand'|translate}}</p>

    <p class="oauth-login-hint">{{'oauth.login_hint'|translate}}</p>

    <form [formGroup]="valiForm" (ngSubmit)="onSubmitServerName(valiForm.value)">


      <button class="submit-server-name-btn" (click)="onSubmitServerName($event)"
              [label]="'oauth.confirm_input'|translate" [disabled]="!valiForm.valid"></button>

    </form>

  </div>

</section>
